.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
  }
  
  .display {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .display input {
    border: none;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: #ddd
  }
  .calcHeading{
    display: flex;
    margin-left: 40px;
   
  }